<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU8rBAdHpJkLpRtgloXKcX1RboMUAjSZc</string>
	<key>GCM_SENDER_ID</key>
	<string>906821912387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.electrik</string>
	<key>PROJECT_ID</key>
	<string>electriq-9f40b</string>
	<key>STORAGE_BUCKET</key>
	<string>electriq-9f40b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906821912387:ios:4926821623ea809e3f91f6</string>
</dict>
</plist>